html,
body {
    height: 100%;
    margin: 0;
}

#blocklyDiv {
    position: absolute;
    top: 0;
    bottom: 0;
    float: left;
    width: 75%;
}

.blocklyTreeRow {
    height: 35px;
    line-height: 30px;
}

.blocklyTreeSeparator {
    border-bottom: solid #06b0f3 1px;
}